* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
}

main {
    padding: 48px 48px 128px 48px;
}

.topsection {
    display: flex;
    gap: 64px;
    justify-content: space-around;
}

.leftSection {
    width: 410px;

    .kath {
        font-size: 14px;
        font-weight: 600;
        color: #755750;
        letter-spacing: 1.6px;
        margin-bottom: 30px;
    }

    h1 {
        font-size: 64px;
        letter-spacing: -1.28px;
        font-weight: bold;
        color: #061B0E;
        margin-bottom: 30px;
    }

    p{
        font-size: 18px;
        line-height: 29.3px;
        color: #434843;
        font-family: "Inter", sans-serif;
    }

}

.rightSection {
    width: 710px;
    height: 443px;
    transform: rotate(1.2deg);

    .image {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
}