* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
}

body {
    min-width: 1200px;
}

header {
    background-color: #FBF9F5;
    display: flex;
    align-items: center;
    padding: 0 40px;
    height: 81px;
    width: 100%;
    justify-content: space-between;
}

header h1 {
    margin-left: 50px;
    font-size: 32px;
    font-weight: bold;
    color: #061B0E;
}



nav a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #061B0E;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav a:hover {
    transform: translateY(-5px);
    color: black;

}

nav {
    display: flex;
    gap: 32px;
}

.table {
    background-color: #061B0E;
    padding: 10px 24px;
    color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 4px 4px 0 #061B0E;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 0 #061B0E;

}

.review {
    padding: 96px 40px;
    background-color: #1B3022;


    h1 {
        text-align: center;
        margin-bottom: 80px;
        font-size: 32px;
        font-weight: 600;
        color: #FFFFFF;
        letter-spacing: -0.8px;
        font-family: "Playfair Display", serif;
    }

    .card {
        display: flex;
    }

    .cardone {
        height: 325px;
        width: 318px;
        padding: 32px;
        background: linear-gradient(135deg, #2e6b4f, #2e6b4f);
        opacity: 0.95;
        border-radius: 12px;
        transition: all 0.3s ease;

        p {
            font-size: 20px;
            font-style: italic;
            color: #FFFFFF;
            margin-bottom: 24px;

            span {
                color: #FFD7CE;
            }
        }

        .name {
            display: flex;
            gap: 12px;
            align-items: center;

            .circle {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #FFD7CE;
            }

            h3 {
                font-size: 12px;
                color: #65b777;
                letter-spacing: 1.2px;
                font-weight: 500;
                font-family: "Inter", sans-serif;

            }
        }
    }

    .cardtwo {
        height: 325px;
        width: 350px;
        padding: 40px;
        background-color: #755750;
        border-radius: 12px;
        transform: rotate(2deg);
        transition: all 0.3s ease;

        p {
            font-size: 21px;
            font-style: italic;
            color: #FFFFFF;
            margin-bottom: 32px;
        }

        .name2 {
            display: flex;
            align-items: center;
            gap: 10px;

            .circle {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #1B3022;
            }

            h3 {
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 1.2px;
                font-weight: 500;
                font-family: "Inter", sans-serif;

            }
        }
    }

    .cardthree {
        transform: translateY(20px);
        padding: 32px;
        height: 277px;
        border-radius: 12px;
        width: 318px;
        background: rgba(255, 255, 255, 0.08);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(236, 231, 231, 0.2);
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
        color: white;
        transition: all 0.3s ease;
        

        p {
            font-size: 16px;
            font-family: "Inter", sans-serif;
            margin-bottom: 24px;
            font-style: italic;
            font-weight: lighter;
        }

        .namethree {
            display: flex;
            align-items: center;
            gap: 15px;

            .circle {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #482100;
            }
            h3{
                font-size: 12px;
                color: #FFFFFF;
                letter-spacing: 1.2px;
                font-weight: lighter;
                font-family: "Inter", sans-serif;
            }
        }
    }
}

.cardone:hover,
.cardthree:hover{
    transform:translateY(-10px);
}
.cardtwo:hover{
    transform: rotate(2deg) translateY(-10px);
}